@model IEnumerable<SalesWebApp.Models.Seller>;

@{
    ViewData["Title"] = "Vendedores";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <td>Código</td>
            <!-- OR @Html.DisplayNameFor(model => model.id) -->
            <td>Nome</td>
            <td>Email</td>
            <td>Nascimento</td>
            <td>Renumeração</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.id)</td> 
                <td>@Html.DisplayFor(modelItem => item.name)</td>
                <td>@Html.DisplayFor(modelItem => item.birthDate)</td>
                <td>@Html.DisplayFor(modelItem => item.baseSalary)</td>
                <td>
                    <a asp-controller="Sellers" asp-action="Edit">Editar</a>
                    <a asp-controller="Sellers" asp-action="Details">Detalhes</a>
                    <a asp-controller="Sellers" asp-action="Remove">Deletar</a>
                </td>
            </tr>
        }

    </tbody>
</table>
